.type__image {
  display: flex;
  justify-content: center;
  align-items: center;

  --type-image-size: 32px;
  width: var(--type-image-size);
  height: var(--type-image-size);
}

.type__label {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 8px;
  width: 110px;
  overflow: hidden;

  font-weight: 500;
}
