.cell {
    --cell-size: 60px;
    width: var(--cell-size);
    height: var(--cell-size);
  
    font-size: 26px;
    border: 1.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 5px;
    border-radius: 8px;
  
    background-color: transparent;
    transition: background-color 400ms, scale 400ms;
}

@keyframes wave {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

.cell--active {
    animation: wave infinite 1s ease-in-out;
}
  
.cell--correct {
    background-color: #83a300;
}
  
.cell--misplaced {
    background-color: #e21b5a;
}