
.hints {
    display: flex;
    align-items: center;
    justify-content: center;
  
    gap: 8px;
    padding: 10px;
}
  
.type-image {
    --type-image-size: 32px;
    width: var(--type-image-size);
    height: var(--type-image-size);
  
    border: 1px solid white;
    border-radius: 8px;
}