@keyframes slideIn {
    100% {
        transform: translateY(0%);
    }
}

.keyboard-wrapper {
    --key-gap: 12px;
    --key-height: 32px;
    --key-width: 64px;
  
    display: flex;
    flex-direction: column;
    gap: var(--key-gap);
    padding: 20px 0px;
    width: 100% ;

    transform: translateY(100%);

    background-color: #172A48;

    animation: slideIn forwards 500ms 100ms;
}
  
.keyboard-row {
    display: flex;
    justify-content: center;
    gap: var(--key-gap);
}
  