.separator {
    margin: 0px 20px;
    font-weight: light;
    font-size: 30px;
}

.type-hint {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
}
  
.hints abbr {
    text-decoration-style: solid;
}