body {
  background: #333333;
  color: white;
  user-select: none !important;
}

img {
  pointer-events: none;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1280px;
  text-align: center;
}

.phone-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;

  border: 1px solid transparent;
  border-radius: 25px;

  background: linear-gradient(
    0deg,
    rgba(32, 116, 153, 1) 0%,
    rgba(29, 73, 124, 1) 100%
  );
  aspect-ratio: 16 / 9;

  width: 80vw;
  min-width: 1000px;
  max-width: 1300px;
  overflow: hidden;
}

.phone-wrapper {
  position: relative;

  border: 1px solid black;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(226, 226, 226, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(226, 226, 226, 1) 100%
  );

  padding: 7px;
  aspect-ratio: 16 / 9;

  width: 80vw;
  min-width: 1000px;
  max-width: 1300px;
}

.app-screen {
  display: flex;

  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
