body {
  background: #333333;
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-list {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
  padding: 10px;
}

.type-image {
  --type-image-size: 32px;
  width: var(--type-image-size);
  height: var(--type-image-size);

  border: 1px solid white;
  border-radius: 8px;
}