body {
  background: #333333;
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  --cell-size: 50px;
  width: var(--cell-size);
  height: var(--cell-size);

  font-weight: bolder;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5px;
  border-radius: 15px;

  background-color: transparent;
  transition: background-color 200ms, scale 200ms;
}

.cell--active {
  background-color: #4e4e4e;
  scale: 1.2;
}

.cell--correct {
  background-color: #83a300;
}

.cell--misplaced {
  background-color: #e21b5a;
}

button {
  border-radius: 8px;
  border: 1px solid #bbbbbb;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
