.keys {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 200ms;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px;
  width: var(--key-width);
  height: var(--key-height);

  user-select: none;
  text-transform: uppercase;
}

.key--correct {
  background-color: #83a300;
}

.key--misplaced {
  background-color: #e21b5a;
}

.key--incorrect {
  --incorrect-color: #8a8da5;
  border-color: var(--incorrect-color);

  color: var(--incorrect-color);
}
