.keys {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px;
  width: var(--key-width);
  height: var(--key-height);

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  transition: color 200ms;
}

.key--correct {
  background-color: #83a300;
}

.key--misplaced {
  background-color: #e21b5a;
}

.key--incorrect {
  --incorrect-color: #8a8da5;

  color: var(--incorrect-color);
  border-color: var(--incorrect-color);
}